/* * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
}

.ota-mng .box {
  height: auto;
  background-color: #e5e5e5;
  padding: 36px;

}
.dropdown {
  width: 70%;
  user-select: none;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  width: 40%;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 40%;
  margin-left: 20%;
  z-index: 9999;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  BORDER: 1PX SOLID;
  margin-left: 12px;
  WIDTH: 49PX;
  margin-bottom: 12px;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #9bc699;
}
.heading{
  width: 20%;
  align-self: center;
}
.dropdown input{
  width: 100%;
  border: none;
}
.dropdown input:focus{
  outline: none;
}
.dropdown input file-upload-button{
  width: 100%;
  display: none;
}
input[type="file"] {
  width: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
input[type=file]::file-selector-button {
  visibility: hidden;
  display: none;
}
.options{
  display: flex;
  flex-wrap: wrap;
}
.butt button{
  padding: 12px;
    border: none;
    margin-left: 12px;
    background: #9bc699;
}
.button {
  text-align: center
}
.button button{
  padding: 14px;
  border: none;
  background: #9bc699;
  margin-top: 18px;
  border-radius: 12px;

}
.title{
  text-align: center;
    font-size: 27px;
    font-weight: 700;
    padding-top: 43px;
    padding-bottom: 27px;

}
.navbars{
  width: 100%;
  background: #9bc699;
  height: auto;
}
.navbars img{
  width: 115px;

  padding: 8px;
} */
/* Clustor monitoring */

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height:150px;
  padding-top: 70px;
}

.blue {
  background-color: #D3ECF7;
}
.blue h1{
  margin-left: 8%;
  font-size: 30px;
  font-weight: 700;
}


.curve {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: white;
} 

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #D3ECF7;
  transform: translate(-4%, 40%);
  z-index: -1;
}





.clust-2{
  margin-top: 80px;

}
.clust-2 .row{
  text-align: center;
}
.clust-2 h3{
 
  background: #1D87A4;
  width: 56px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;


}
.clust-3{
  margin-top: 32px !important;
}
.clust-3 h4{
  font-size: 28px;
}
